<div class="main">
  <button (click)="addModal()" href="#popup">Create User</button>

  <table class="heavyTable">
    <thead>
      <tr>
        <th class="border-left">Card</th>
        <th>Lastname</th>
        <th>Firstname</th>
        <th>Patronymic</th>
        <th>Idperson</th>
        <th>Statusname</th>
        <th>Acc1num</th>
        <th>Cardtemplname</th>
        <th>Orgnameshort</th>
        <th>Persontypename</th>
        <th>Currename</th>
        <th>IDcard</th>
        <th>Birthdate</th>
        <th>Docseries</th>
        <th>DOCNUM</th>
        <th>IDtaskauthstatus</th>
        <th>Doctypename</th>
        <th class="border-rigth">Option</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of personList; let i = index">
        <td *ngIf="checked ; else name">{{item.CARD}}</td>
        <td class="centre-text">{{item.LASTNAME}}</td>
        <td class="centre-text">{{item.FIRSTNAME}}</td>
        <td class="centre-text">{{item.PATRONYMIC}}</td>
        <td>{{item.IDPERSON}}</td>
        <td>{{item.STATUSNAME}}</td>
        <td>{{item.ACC1NUM}}</td>
        <td>{{item.CARDTEMPLNAME}}</td>
        <td>{{item.ORGNAMESHORT}}</td>
        <td>{{item.PERSONTYPENAME}}</td>
        <td>{{item.CURRNAME}}</td>
        <td>{{item.IDCARD}}</td>
        <td>{{item.BIRTHDATE}}</td>
        <td>{{item.DOCSERIES}}</td>
        <td>{{item.DOCNUM}}</td>
        <td>{{item.IDTASKAUTHSTATUS}}</td>
        <td>{{item.DOCTYPENAME}}</td>
        <td>
          <!-- g -->
          <button class="danger" (click)="deletePerson(i)">Delete</button></td>
      </tr>
      <ng-template #name>
        <td></td>
      </ng-template>
    </tbody>
  </table>
  <div *ngIf="addPers">
    <app-modal-window>
      <form [formGroup]="personsform">
        <div class="form-group">
          <label>CARD</label>
          <input type="text" class="form-control" formControlName="CARD">
        </div>

        <div class="form-group">
          <label>LASTNAME</label>
          <input type="text" class="form-control" formControlName="LASTNAME">
        </div>
        <div class="form-group">
          <label>FIRSTNAME</label>
          <input type="text" class="form-control" formControlName="FIRSTNAME">
        </div>

        <div class="form-group">
          <label>PATRONYMIC</label>
          <input type="text" class="form-control" formControlName="PATRONYMIC">
        </div>
        <div class="form-group">
          <label>IDPERSON</label>
          <input type="text" class="form-control" formControlName="IDPERSON">
        </div>
        <div class="form-group">
          <label>STATUSNAME</label>
          <input type="text" class="form-control" formControlName="STATUSNAME">
        </div>
        <div class="form-group">
          <label>ACC1NUM</label>
          <input type="text" class="form-control" formControlName="ACC1NUM">
        </div>
        <div class="form-group">
          <label>CARDTEMPLNAME</label>
          <input type="text" class="form-control" formControlName="CARDTEMPLNAME">
        </div>
        <div class="form-group">
          <label>ORGNAMESHORT</label>
          <input type="text" class="form-control" formControlName="ORGNAMESHORT">
        </div>
        <div class="form-group">
          <label>PERSONTYPENAME</label>
          <input type="text" class="form-control" formControlName="PERSONTYPENAME">
        </div>
        <div class="form-group">
          <label>CURRNAME</label>
          <input type="text" class="form-control" formControlName="CURRNAME">
        </div>
        <div class="form-group">
          <label>IDCARD</label>
          <input type="text" class="form-control" formControlName="IDCARD">
        </div>
        <div class="form-group">
          <label>BIRTHDATE</label>
          <input type="text" class="form-control" formControlName="BIRTHDATE">
        </div>
        <div class="form-group">
          <label>DOCSERIES</label>
          <input type="text" class="form-control" formControlName="DOCSERIES">
        </div>
        <div class="form-group">
          <label>DOCNUM</label>
          <input type="text" class="form-control" formControlName="DOCNUM">
        </div>
        <div class="form-group">
          <label>IDTASKAUTHSTATUS</label>
          <input type="text" class="form-control" formControlName="IDTASKAUTHSTATUS">
        </div>
        <div class="form-group">
          <label>DOCTYPENAME</label>
          <input type="text" class="form-control" formControlName="DOCTYPENAME">
        </div>
        <div class="row-4-button">
          <a (click)="onSubmit()" class="onSubmitButtom">Save</a>
        </div>
      </form>
    </app-modal-window>
  </div>
