.main {
  width: 100%
}

table {
  border-radius: 5px;
  width: 60%;
  height: 60%;
  border-collapse: collapse;
  margin: 30px auto;
  background: white;
}

.border-left {
  border-top-left-radius: 5px;
}

.border-rigth {
  border-top-right-radius: 5px;
}

th {
  background: #202932;
  height: 45px;
  font-weight: bold;
  font-size: 10px;
  text-shadow: 0 1px 0 #202932;
  color: white;
  box-shadow: inset 0px 1px 2px #568ebd;
  transition: all 0.2s;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

}

tr {
  border-bottom: 1px solid #cccccc;
  max-width: 30px;
  font-size: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

td:hover {
  font-size: 10px;
  color: black;
  font-weight: bold;
}

tr:last-child {
  border-bottom: 0px;
}

td {
  border-right: 1px solid #cccccc;
  height: 30px;
  padding-left: 5px;
  transition: all 0.2s;
  font-size: 10px;
  text-align: left
}

.centre-text {
  text-align: center;
}

td:last-child {
  border-right: 0px;
}

td.selected {
  background: #d7e4ef;
  z-index: 0;
}

td input {
  font-size: 14px;
  background: none;
  outline: none;
  border: 0;
  display: table-cell;
  height: 100%;
  width: 100%;
}

td input:focus {
  box-shadow: 0 1px 0 steelblue;
  color: steelblue;
}

.heavyTable {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  animation: float 5s infinite;
}

.danger {
  background: red;
  border: none;
}

.info {
  background: greenyellow;
  border: none;
}

.info:hover {
  background: green;
  text-decoration: underline;
}

.danger:hover {
  color: #800000;
  text-decoration: underline;
}

label {
  display: inline-block;
  width: 6em;

}

.form-control {
  width: 50%;
  position: relative;
  text-align: right;
  // height: 3rem;
  background-color: #2C3446;
  color: #fff;
  border-top: none;
  border-left: none;
  border-right: none;
  border-top-color: #2C3446;
  outline: none;
  height: 15px;
  display: inline-block;
  margin-left: 100px;
}
