.modal {
  position: fixed;
  left: 35%;
  right: 35%;
  top: 50px;
  width: 30%;
  height: 25rem;
  z-index: 20;

  .modal-body {
    position: relative;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 2rem;
    background-color: #f5f2f0;

  }
}

.modal-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0.75;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}


:host /deep/ .InputControl {
  width: 60%;
  background-color: #2C3446;
  color: #fff;
  border-top: none;
  border-left: none;
  border-right: none;
  border-top-color: #2C3446;
  outline: none;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 15px;
}


.popupClose {
  position: absolute;
  right: -1rem;
  top: -1rem;
  width: 3rem;
  height: 3rem;
  font-size: .875rem;
  font-weight: 300;
  border-radius: 100%;
  background-color: #f5f2f0;
  z-index: 100;
  color: #202932;
  line-height: 3rem;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid #202932;

  &:hover,
  &:focus {
    border: 2px solid #fff;
    background-color: #202932;
    color: #fff;
    outline: 0;
  }
}

:host /deep/ .onSubmitButtom {
  margin-top: 5px;
  position: absolute;
  top: 24rem;
  width: 6rem;
  height: 2rem;
  font-size: .875rem;
  font-weight: 300;
  border: 3px solid #2C3446;
  border-radius: 5%;
  background-color: #2C3446;
  z-index: 100;
  color: #fff;
  line-height: 2rem;
  text-align: center;
  cursor: pointer;
  text-decoration: none;

  &:hover,
  &:focus {
    border: 3px solid #2C3446;
    background-color: #008080;
    outline: 0;
  }
}
